apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: python-app
  name: python-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
        - image: ghcr.io/2022-4400-exp/4420-python-app:b1c8eb4357290f2fefe4baef75a7f5798baa6768
          name: python-app
          volumeMounts:
            - mountPath: /var/python-app
              name: python-app-mount
      volumes:
        - name: python-app-mount
          persistentVolumeClaim:
            claimName: python-app-data
